<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyAPP</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Inicio" Path="/" Icon="home" />
            <RadzenPanelMenuItem Text="Catalogos" Icon="Settings">
                <RadzenPanelMenuItem Text="Textbox" Path="Textbox" Icon="Text_Fields" />
                <RadzenPanelMenuItem Text="DropDown" Path="Dropdown" Icon="Arrow_Drop_Down" />
                <RadzenPanelMenuItem Text="ListBox" Path="Perro" Icon="Pets" />
                <RadzenPanelMenuItem Text="Data Grid" Path="GridData" Icon="Bolt" />

            </RadzenPanelMenuItem>
        </RadzenPanelMenu>

    </nav>
</div>
